<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
    <link rel="stylesheet" href="styles/61fc9395.main.css">
    <script type="text/javascript">document.write('<base href="' + document.location + '" />');</script>
  </head>
  <body ng-app="whoruApp" ng-controller="MainCtrl" ng-cloak="">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an<strong>outdated</strong>browser. Please<a href="http://browsehappy.com/">upgrade your browser</a>to improve your experience.</p>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- Add your site or application content here-->
    <div class="header-container">
      <header class="wh-header wrapper">
        <nav>
          <ul class="wh-header-options">
            <li ng-repeat="option in nav | orderBy: 'order'" class="wh-header-option"><a ng-href="{{option.href}}" title="{{option.title}}">{{option.title}}</a></li>
          </ul>
          <ul class="wh-header-locales">
            <li ng-repeat="locale in locales" ng-class="{actual: locale.actual}" class="wh-header-locale"><a href="" ng-click="setLocale(locale)" title="{{locale.text}}"><img ng-src="{{locale.image}}" title="{{locale.text}}"></a></li>
          </ul>
        </nav>
      </header>
    </div>
    <div class="main-container">
      <div class="wh-main wrapper">
        <section ng-controller="IntroCtrl" id="{{id}}" class="wh-intro">
          <h1 class="wh-intro-fullname">
            <div class="wh-intro-name">{{intro.name}}</div>
            <div ng-if="intro.surname1" class="wh-intro-surname1">{{intro.surname1}}</div>
            <div ng-if="intro.surname2" class="wh-intro-surname2">{{intro.surname2}}</div>
          </h1>
          <h2 class="wh-intro-summary">{{intro.summary}}</h2><a ng-href="{{intro.image}}" title="{{intro.fullname()}}" class="wh-intro-image"><img ng-src="{{intro.image}}" title="{{intro.fullname()}}"></a>
          <p ng-if="intro.description" ng-bind-html="intro.description" class="wh-intro-description"></p>
        </section>
        <section ng-controller="CvCtrl" ng-show="cv.length" class="wh-cv">
          <h3 class="wh-cv-title">{{cv.title}}</h3>
          <article ng-repeat="part in cv" id="{{part.id}}" ng-class="part.cssClass" class="wh-cv-part">
            <header ng-if="part.title" class="wh-cv-part-header">
              <h4 class="wh-cv-part-title">{{part.title}}</h4>
            </header>
            <p ng-if="part.description" ng-bind-html="part.description" class="wh-cv-part-description"></p>
            <ol ng-if="part.content">
              <li ng-repeat="item in part.content" class="wh-part-item">
                <h5 ng-if="item.title" class="wh-cv-part-item-title">{{item.title}}</h5>
                <div ng-if="item.when || item.from || item.until" class="wh-cv-part-item-date"><span ng-if="item.when" class="wh-cv-part-item-date-when">{{item.when}}</span><span ng-if="item.from" class="wh-cv-part-item-date-from">{{item.from}}</span><span ng-if="item.until" class="wh-cv-part-item-date-until">{{item.until}}</span></div><a ng-if="item.image" ng-href="{{item.image.link}}" title="{{item.image.link}}"><img ng-src="{{item.image.src}}" title="{{item.image.link}}"></a>
                <p ng-if="item.description" ng-bind-html="item.description" class="wh-cv-part-item-description"></p>
                <ol ng-if="item.content" class="wh-part-item-content">
                  <li ng-repeat="content in item.content" class="wh-part-item-content-element">{{content}}</li>
                </ol>
              </li>
            </ol>
          </article>
        </section>
        <section ng-controller="QuestionsCtrl" id="{{id}}" ng-show="questions.length" class="wh-questions">
          <h3>{{ title }}</h3>
          <p class="wh-questions-description">{{ description }}</p>
          <ol>
            <li ng-repeat="question in questions" class="wh-question">
              <h4 class="wh-question-statement">{{ question.question }}</h4>
              <ol>
                <li ng-repeat="option in question.options" class="wh-question-option">
                  <input type="{{question.type}}" id="{{option.id}}" name="{{option.name}}" ng-model="option.checked" ng-change="questionsSubmit()">
                  <label for="{{option.id}}">{{option.title}}</label>
                </li>
              </ol>
            </li>
          </ol>
        </section>
      </div>
    </div>
    <div class="footer-container">
      <footer class="wh-footer wrapper">
        <ul ng-controller="ContactsCtrl" ng-show="contacts.length" class="wh-contacts">
          <li ng-repeat="contact in contacts"><a ng-href="{{contact.type=='phone'?'tel:':contact.type=='mail'?'mailto:':''}}{{contact.value}}" title="{{contact.value}}" data-wh-icon="{{contact.icon}}" ng-class="contact.type" class="wh-contact">{{contact.value}}</a></li>
        </ul>
      </footer>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID-->
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="scripts/b2e10d90.modules.js"></script>
    <script src="scripts/a5f1f80f.scripts.js"></script>
  </body>
</html>