<section ng-controller="CvCtrl" ng-show="cv.parts.length" class="wh-cv">
  <article ng-repeat="part in cv.parts" id="{{part.id}}" ng-class="part.cssClass" header-current-section="header-current-section" height-as-window="header" class="wh-cv-part wh-generic-section when-shown">
    <h3 ng-if="part.title" class="wh-generic-section-title">{{part.title}}</h3>
    <div class="wh-generic-section-content">
      <p ng-if="part.description" ng-bind-html="part.description" class="wh-cv-part-description"></p>
      <ol ng-if="part.content">
        <li ng-repeat="item in part.content" class="wh-part-item">
          <h4 ng-if="item.title" class="wh-cv-part-item-title">{{item.title}}</h4>
          <div ng-if="item.when || item.from || item.until" class="wh-cv-part-item-dates"><span ng-if="item.when" class="wh-cv-part-item-date when">{{item.when}}</span><span ng-if="item.from" class="wh-cv-part-item-date from">{{item.from}}</span><span ng-if="item.until" class="wh-cv-part-item-date until">{{item.until}}</span></div><a ng-if="item.image" ng-href="{{item.image.link}}" title="{{item.image.link}}"><img ng-src="{{item.image.src}}" title="{{item.image.link}}"></a>
          <p ng-if="item.description" ng-bind-html="item.description" class="wh-cv-part-item-description"></p>
          <ol ng-if="item.content" class="wh-part-item-content">
            <li ng-repeat="content in item.content" class="wh-part-item-content-element">{{content}}</li>
          </ol>
        </li>
      </ol>
    </div>
  </article>
</section>