<h1 class="title wh-header-intro-fullname">
  <div class="wh-header-intro-name">{{header.intro.name}}</div>
  <div ng-if="header.intro.surname1" class="wh-header-intro-surname1">{{header.intro.surname1}}</div>
  <div ng-if="header.intro.surname2" class="wh-header-intro-surname2">{{header.intro.surname2}}</div>
</h1>
<nav class="wh-header-nav">
  <ul class="wh-header-options ul">
    <li ng-repeat="option in header.nav.options | orderBy: 'order'" ng-class="{current: option.current}" class="wh-header-option"><a ng-click="smoothScroll(option)" href="javascript:void(0)" title="{{option.title}}">{{option.title}}</a></li>
  </ul>
  <div class="wh-header-options select">
    <select data-ng-model="header.nav.current" data-ng-options="option.title for option in header.nav.options | orderBy:'order'" ng-change="smoothScroll(header.nav.current)"></select>
  </div>
  <ul ng-if="locales.length &gt; 1" class="wh-header-locales">
    <li ng-repeat="locale in locales" ng-class="{current: locale.current}" class="wh-header-locale"><a ng-click="setCurrentLocale(locale)" href="javascript:void(0)" title="{{locale.text}}"><img ng-src="{{locale.image}}" title="{{locale.text}}"></a></li>
  </ul>
</nav><a id="to-top" href="javascript:void(0)" ng-click="smoothScroll(header.nav.init)" title="top">TOP</a>