<section ng-controller="QuestionsCtrl" id="{{id}}" ng-show="questions.length" spied="spied" class="wh-questions when-shown">
  <h3 class="wh-questions-title">{{ title }}</h3>
  <p class="wh-questions-description">{{ description }}</p>
  <ol>
    <li ng-repeat="question in questions" class="wh-question">
      <h4 class="wh-question-statement">{{ question.question }}</h4>
      <ol>
        <li ng-repeat="option in question.options" class="wh-question-option">
          <input type="{{question.type}}" id="{{option.id}}" name="{{option.name}}" ng-model="option.checked" ng-change="questionsSubmit()">
          <label for="{{option.id}}">{{option.title}}</label>
        </li>
      </ol>
    </li>
  </ol>
</section>