@import compass/reset
@import compass/css3/transition
@import reset
@import fonts

//Prevent Angular template from being displayed with ugly double curly '{{ }}' (uncompiled), while the cv is being loaded.
//http://docs.angularjs.org/api/ng.directive:ngCloak
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak
  display: none !important


.hide-text
  text-indent: 100%
  white-space: nowrap
  overflow: hidden


//TODO: Delete!!
.header-container
  position: fixed
  width: 100%
  background: black
  li
    float: left

.header-fixed
  .header-container
    z-index: 2
    box-shadow: 0 0 40px rgba(255, 0, 36, 0.28)

.wh-header-intro-fullname
  div
    float: left
    color: red



.wh-header-options
  float: left

.wh-header-locales
  float: right


.main-container
  padding: 4em 1em




.wh-header-option
  color: blue
  &.current
    border-bottom: 2px solid blue


.wh-intro,
.wh-cv-part,
.wh-questions,
.wh-contacts
  padding-top: 70px
  margin: 100px auto


.wh-contacts
  margin-bottom: 500px

//END Delete!!


.when-shown
  position: relative
  &:not(.do)
    //opacity: 0
    left: -9999px
  &.do
    //opacity: 1
    left: 0
    @include transition-property(left)
    @include transition-duration(.5s)

.wh-contact

  &:before
    font-family: 'whoru-icons'
    content: attr(data-wh-icon)
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale




