@import 'compass/reset'
@import 'reset'
@import 'fonts'




//Prevent Angular template from being displayed with ugly double curly '{{ }}' (uncompiled), while the cv is being loaded.
//http://docs.angularjs.org/api/ng.directive:ngCloak
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak
  display: none !important


.wh-contact
  color: black
  &:before
    font-family: 'whoru-icons'
    content: attr(data-wh-icon)
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
  span
    display: none


