@mixin sub-title
  font-size: 50px
  margin: 20px 0 50px 0
  text-align: center

@mixin triangle-down($color: black, $width: 5px)
  border-left: $width solid transparent
  border-right: $width solid transparent
  border-top: $width solid $color