@font-face {
  font-family: "whoru-icons";
  src: url("/styles/fonts/whoru-icons/whoru.eot");
  src: url("/styles/fonts/whoru-icons/whoru.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/whoru-icons/whoru.ttf") format("truetype"), url("/styles/fonts/whoru-icons/whoru.woff") format("woff"), url("/styles/fonts/whoru-icons/whoru.svg#whoru") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, ../../../app/styles/sass/base/_page.sass */
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

/* line 17, ../../../app/styles/sass/base/_page.sass */
.wh-contact-icon:before {
  font-family: "whoru-icons";
  content: attr(data-wh-icon);
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, ../../../app/styles/sass/base/_page.sass */
.wh-slider {
  overflow: hidden;
  position: relative;
}

/* line 40, ../../../app/styles/sass/base/_page.sass */
.wh-slider-selector .previous,
.wh-slider-selector .next {
  top: 50%;
  height: 2.5em;
  width: 2.5em;
  margin-top: -1.2em;
  position: absolute;
  z-index: 1;
  border: none;
  background: transparent;
  background: black;
  opacity: 0.7;
  color: white;
  display: table;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/* line 57, ../../../app/styles/sass/base/_page.sass */
.wh-slider-selector .previous:before,
.wh-slider-selector .next:before {
  content: "";
  display: inline-block;
}
/* line 61, ../../../app/styles/sass/base/_page.sass */
.wh-slider-selector .previous.no-more,
.wh-slider-selector .next.no-more {
  opacity: 0.3;
}
/* line 63, ../../../app/styles/sass/base/_page.sass */
.wh-slider-selector .previous.more,
.wh-slider-selector .next.more {
  cursor: pointer;
}
/* line 65, ../../../app/styles/sass/base/_page.sass */
.wh-slider-selector .previous.more:hover,
.wh-slider-selector .next.more:hover {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  opacity: 1;
}
/* line 69, ../../../app/styles/sass/base/_page.sass */
.wh-slider-selector .previous span,
.wh-slider-selector .next span {
  display: none;
}
/* line 72, ../../../app/styles/sass/base/_page.sass */
.wh-slider-selector .previous {
  left: 0.7em;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
}
/* line 75, ../../../app/styles/sass/base/_page.sass */
.wh-slider-selector .previous:before {
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-right: 0.5em solid white;
  margin-right: 0.15em;
}
/* line 78, ../../../app/styles/sass/base/_page.sass */
.wh-slider-selector .previous.more:hover {
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  left: 0em;
}
/* line 81, ../../../app/styles/sass/base/_page.sass */
.wh-slider-selector .next {
  right: 0.7em;
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
}
/* line 84, ../../../app/styles/sass/base/_page.sass */
.wh-slider-selector .next:before {
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-left: 0.5em solid white;
  margin-left: 0.15em;
}
/* line 87, ../../../app/styles/sass/base/_page.sass */
.wh-slider-selector .next.more:hover {
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
  right: 0em;
}

/* line 91, ../../../app/styles/sass/base/_page.sass */
.wh-slider-list {
  position: relative;
}

/* line 95, ../../../app/styles/sass/base/_page.sass */
.wh-slider-item {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
/* line 100, ../../../app/styles/sass/base/_page.sass */
.wh-slider-item.current {
  left: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
}
/* line 105, ../../../app/styles/sass/base/_page.sass */
.wh-slider-item:not(.current) {
  left: -9999px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
}
