section.wh-cv(ng-controller="CvCtrl", ng-show='cv.parts.length')

    article.wh-cv-part.wh-generic-section.when-shown.background-y-position-scroll(ng-repeat='part in cv.parts', id='{{part.id}}', ng-class='part.cssClass', spy-current-section, height-as-window='header')

        h3.wh-generic-section-title(ng-if='part.title') {{part.title}}

        .wh-generic-section-content
            p.wh-cv-part-description(ng-if='part.description', ng-bind-html="part.description")

            ol(ng-if='part.content')
                li.wh-part-item(ng-repeat='item in part.content')

                    h4.wh-cv-part-item-title(ng-if='item.title') {{item.title}}

                    .wh-cv-part-item-dates(ng-if='item.when || item.from || item.until')
                        span.wh-cv-part-item-date.when(ng-if='item.when') {{item.when}}
                        span.wh-cv-part-item-date.from(ng-if='item.from') {{item.from}}
                        span.wh-cv-part-item-date.until(ng-if='item.until') {{item.until}}


                    .wh-cv-part-item-images-wrapper.wh-slider(ng-if='item.images')

                        .wh-slider-selector(ng-if='item.images.length > 1', data-list='item.images')

                        ul.wh-cv-part-item-images.wh-slider-list

                            li.wh-cv-part-item-image.wh-slider-item(ng-repeat='image in item.images', ng-class='image.current || $parent.item.images.length == 1? "current" : "" ', style="background-image:url({{image.src}})")
                                a(ng-if="image.link", ng-href="{{image.link}}", title="{{image.link}}", target="_blank")
                                    h5.desc(ng-if='image.description') {{image.description}}
                                h5.desc(ng-if='!image.link && image.description') {{image.description}}

                    p.wh-cv-part-item-description(ng-if='item.description', ng-bind-html="item.description")

                    ol.wh-part-item-content(ng-if='item.content')
                        li.wh-part-item-content-element(ng-repeat='content in item.content') {{content}}