h1.title.wh-header-intro-fullname
    .wh-header-intro-name {{header.intro.name}}
    .wh-header-intro-surname1(ng-if="header.intro.surname1") {{header.intro.surname1}}
    .wh-header-intro-surname2(ng-if="header.intro.surname2") {{header.intro.surname2}}
nav.wh-header-nav
    ul.wh-header-options.ul
        li.wh-header-option(ng-repeat='option in header.nav.options | filter: {hidden: false} | orderBy: \'order\'', ng-class='{current: option.current}')
            a(ng-click="smoothScroll(option)", href="javascript:void(0)", title="{{option.title}}") {{option.title}}

    .wh-header-options.select
        select(data-ng-model="header.nav.current", data-ng-options="option.title for option in header.nav.options | filter: {hidden: false} | orderBy:\'order\'", ng-change="smoothScroll(header.nav.current)")

    ul.wh-header-locales(ng-if="locales.length > 1")
        li.wh-header-locale(ng-repeat='locale in locales', ng-class='{current: locale.current}')
            a(ng-click="setCurrentLocale(locale)", href="javascript:void(0)", title="{{locale.text}}")
                img(ng-src="{{locale.image}}", title="{{locale.text}}")

a#to-top(href="javascript:void(0)", ng-click="smoothScroll(header.nav.init)", title="top") TOP



