section.wh-intro(ng-controller="IntroCtrl", id='{{id}}', spied, height-as-window)
    .wh-intro-fullname
        .wh-intro-name {{intro.name}}
        .wh-intro-surname1(ng-if="intro.surname1") {{intro.surname1}}
        .wh-intro-surname2(ng-if="intro.surname2") {{intro.surname2}}
    h2.wh-intro-summary {{intro.summary}}
    a.wh-intro-image(ng-href="{{intro.image}}", title="{{intro.fullname()}}")
        img(ng-src="{{intro.image}}", title="{{intro.fullname()}}")
    p.wh-intro-description(ng-if="intro.description", ng-bind-html="intro.description")
