h1.wh-fullname
    .wh-name {{cv.name}}
    .wh-surname1(ng-if="cv.surname1") {{cv.surname1}}
    .wh-surname2(ng-if="cv.surname2") {{cv.surname2}}
h2.wh-intro {{cv.intro}}
a(ng-href="{{cv.image}}", title="{{cv.fullname()}}")
    img(ng-src="{{cv.image}}", title="{{cv.fullname()}}")
p(ng-if="cv.description", ng-bind-html="cv.description")