div
    p this is the question view.
    ol
        li(ng-repeat='question in questions') {{ question.question }}
            ol
                li(ng-repeat='option in question.options')
                    input(type='{{question.type}}', id='{{option.id}}', name='{{option.name}}', ng-model='option.checked', ng-change='questionsSubmit()')
                    label(for='{{option.id}}')
                        {{option.title}}
