section.wh-questions(ng-controller="QuestionsCtrl", ng-show='questions.length')
    h3 {{ title }}
    p.wh-questions-description {{ description }}
    ol
        li(ng-repeat='question in questions').wh-question
            h4.wh-question-statement {{ question.question }}
            ol
                li(ng-repeat='option in question.options').wh-question-option
                    input(type='{{question.type}}', id='{{option.id}}', name='{{option.name}}', ng-model='option.checked', ng-change='questionsSubmit()')
                    label(for='{{option.id}}') {{option.title}}
